.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .inp {
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 2.2%;
        color: gray;
    }

    .inp:focus {
        color: black;
    }

    .ans {
        grid-column-start: 3;
        grid-column-end: 3;
    }
}